@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300&family=Roboto+Mono:wght@200&display=swap");

.contact-section {
  height: 60vh;
  font-family: "Roboto Mono", monospace;
  background-color: lightpink;
}

.main {
  height: 15rem;
  width: 40rem;
  background-color: #ffffff;
  border-radius: 30px;
}
